.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    padding: .5rem 1rem;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a:hover {
    color: #ffd700;
}

.sidebar ul li .active {
    border: 2px solid #fff;
}